img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section{
    margin-bottom: 200px;
}

.section_4,
.section_6,
.section_7{
    padding: 0 60px;
}


.title_wrap{
    text-align: center;
    margin-bottom: 40px;
}

.title_wrap h2{
    font-size: 40px;
    font-weight: 700;
}

.title_wrap p{
    font-size: 18px;
    color: rgba(29, 29, 29, 0.8);
    margin-top: 15px;
}

.swiper {
    width: 100%;
    height: 100%;
}

