@import url(reset.css);
@import url(commn.css);

.wrap {
  position: relative;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 212px;
  background-color: rgba(240, 240, 240, 0.5);
  position: fixed;
  z-index: 999;
}

header li {
  text-align: center;
}

.menu_wrap {
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.menu_wrap a:hover {
  color: #cf0a2c;
}

.side_menu {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_menu img {
  width: 25px;
}

.side_menu img:last-child {
  width: 20px;
}

.hide_menu {
  width: 300px;
  height: 100vh;
  background-color: pink;
  position: absolute;
  top: 0;
  right: -100%;
}

.hide_menu i {
  position: absolute;
  top: 20px;
  right: 20px;
}

.show_menu {
  right: 0;
}
/* header end */

.section_1 {
  width: 100%;
  height: 850px;
}

.slide_11 {
  width: 100%;
  height: 100%;
  background: url("../img/section1.jpg") no-repeat center / cover;
}
.slide_12 {
  background-image: url(https://image.nbkorea.com/NBRB_Site/20250708/NB20250708174639019001.jpg);
}
.slide_13 {
  background-image: url(https://image.nbkorea.com/NBRB_Site/20250709/NB20250709083226646001.jpg);
}

/* section_1 end */

.section_2 {
  width: 100%;
  height: 900px;
  /* background-color: lightgray; */
  padding: 0 212px;
  overflow: hidden;
}

.con_wrap_2 {
  width: 100%;
  /* display: flex; */
}

.con_wrap_2 .con_2:first-child {
  width: 405px;
  height: 465px;
  position: relative;
  top: 30px;
  z-index: 10;
}
.con_wrap_2 .con_2:nth-child(2) {
  width: 540px;
  height: 430px;
  position: relative;
  top: -118px;
  left: 195px;
  z-index: 9;
}
.con_wrap_2 .con_2:nth-child(3) {
  width: 540px;
  height: 430px;
  position: relative;
  top: -895px;
  left: 630px;
  z-index: 11;
  transform: scaleX(-1);
}
.con_wrap_2 .con_2:last-child {
  width: 405px;
  height: 530px;
  position: relative;
  top: -1156px;
  left: 1090px;
  z-index: 12;
  transform: scaleX(-1);
}

/* section_2 end */

.section_3 {
  width: 100%;
  height: 715px;
  position: relative;
  padding-left: 60px;
}

.Swiper3 {
  width: 100%;
  height: 600px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

/* .con_wrap_3{
    width: 93.75%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.con_3{
    width: 23.69791%;
    height: 550px;
} */

/* section_3 end */

.section_4 {
  width: 100%;
}

.con_wrap_4 {
  display: flex;
}

.con_4 {
  width: 50%;
  overflow: hidden;
  position: relative;
}
.con_4 a {
  width: 100%;
  height: 100%;
  display: block;
}
.con_4 img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
.con_4:hover img {
  transform: scale(1.4);
}
.con_4:last-child:hover img {
  transform: scale(1.2);
}

.black_box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.con_4:hover .black_box {
  background-color: rgba(0, 0, 0, 0.5);
}

.txt_wrap_4 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
}

.txt_wrap_4 h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
}

.txt_wrap_4 p {
  font-size: 18px;
  font-weight: 500;
}

.con_4:hover .txt_wrap_4 {
  opacity: 1;
}
/* section_4 end */

.section_5 {
  width: 100%;
  height: 705px;
}

.con_wrap_5 {
  width: 100%;
  display: flex;
}

.con_5 {
  width: 33.33333%;
  height: 580px;
}

.con_5:first-child {
  background: url("../img/windbreaker_10.jpg") no-repeat center / cover;
}
.con_5:nth-child(2) {
  background: url("../img/windbreaker_2.jpg") no-repeat center / cover;
}
.con_5:last-child {
  display: flex;
  flex-direction: column;
}

.con_5_1 {
  width: 100%;
  height: 50%;
  background: url("../img/windbreaker_1.jpg") no-repeat center / cover;
}
.con_5_2 {
  width: 100%;
  height: 50%;
  background: url("../img/windbreaker_6.jpg") no-repeat center / cover;
}

.con_5 a {
  width: 100%;
  height: 100%;
  display: block;
}
/* section_5 end */

.section_6 {
  width: 100%;
  position: relative;
}

.section_6 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con_wrap_6 {
  width: 100%;
  height: 700px;
  display: flex;
}

.con_6:first-child {
  width: 33.33333%;
  height: 100%;
  background-color: #f0f0f0;
}

.con_6:last-child {
  width: 66.66666%;
  height: 100%;
  background: url("../img/Ndurance_1.jpg") no-repeat center / cover;
}

.main_con_6 {
  /* width: 100%; */
  /* display: flex; */
  position: absolute;
  top: 238px;
  left: 330px;
}

.main_con_6 p {
  font-size: 100px;
  font-weight: 700;
  transform: rotate(90deg);
  letter-spacing: 2px;
}

.main_con_6 p:first-child {
  position: absolute;
  z-index: 50;
  top: 185px;
  left: -292px;
}

.main_con_6 p:nth-child(2) {
  position: absolute;
  z-index: 49;
  top: 202px;
  left: -315px;
  color: transparent;
  -webkit-text-stroke: 0.1px rgba(29, 29, 29, 0.3);
}

.main_img_6 {
  width: 435px;
  height: 470px;
  background: url("../img/Ndurance_2.jpg") no-repeat center / cover;
}
/* .section_6  end */

.section_7 {
  width: 100%;
}

.con_wrap_7 {
  display: flex;
}

.con_7 {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.con_7 a {
  width: 100%;
  height: 100%;
  display: block;
}

.con_7 img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
.con_7:hover img {
  transform: scale(1.4);
}

.black_box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.con_7:hover .black_box {
  background-color: rgba(0, 0, 0, 0.5);
}

.txt_wrap_7 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
}

.txt_wrap_7 h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
}

.txt_wrap_7 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.con_7:hover .txt_wrap_7 {
  opacity: 1;
}
/* section_7 end */

footer {
  width: 100%;
  height: 382px;
  padding: 0 212px;
}

.footer_logo {
  width: 60px;
  margin-bottom: 55px;
}

.footer_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer_menu a {
  font-weight: 900;
}

.footer_info_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding-top: 30px;
}

.adress_wrap {
  display: flex;
}

.adress_wrap h3 {
  font-weight: 700;
}

.sns_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sns_wrap .icon {
  /* width: 22px;
  height: 22px; */
}

.footer_txt_wrap {
  margin-top: 15px;
}

.footer_txt_wrap p {
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
  margin-top: 45px;
  color: #5d5e60;
}
